doctype html
html
    head
        style
            include style.css
    body
        div
            | HEADER
            | HELLO HEADER
        div
            block content
        div.footer
            |FOOTER
            |Best regards
            br
            a(href=frontendURL) Visit our web site