<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

</head>
<body>

<div class="div">
    <form action="/login" method="post">
        <lable for="username"> Login:
            <input class="inp" type="text" name="login" placeholder="enter login">
        </lable>
        <br>
        <lable>Password:
            <input class="inp" type="password" name="password" placeholder="enter password">
        </lable>
        <lable>Email:
            <input class="inp" type="email" name="email" placeholder="enter email">
        </lable>
        <br>
        <input class="green" type="submit" value="LOG IN">
    </form>
    <div>
        <a href="/">Home</a>
    </div>

</div>


</body>
</html>